.form-box {
    max-width: 575px;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #826d6d;
    padding: 2.2rem 2rem 4.4rem;
    box-shadow: 0 5px 20px rgb(4, 4, 4);
}