<mat-spinner
  class="position-absolute"
  diameter="30"
  *ngIf="loading"
></mat-spinner>
<div class="container mt-5">
  <mat-card>
    <h2 mat-card-title >Rooms</h2>

    <button class="mat-button-c" (click)="openCreateDialog()">Create Room</button>
    <a mat-button routerLink="/">Back</a>
  </mat-card>

  <mat-list *ngIf="userRooms">
    <h3 matSubheader>Your Rooms</h3>
    <div *ngFor="let room of userRooms">
      <app-room-item [room]="room" [user]="user"></app-room-item>

      <mat-divider></mat-divider>
    </div>
  </mat-list>

  <mat-list *ngIf="memberRooms">
    <h3 matSubheader>Joined Rooms</h3>
    <div class="room-list" *ngFor="let room of memberRooms">
      <app-room-item [room]="room" [user]="user"></app-room-item>

      <mat-divider></mat-divider>
    </div>
  </mat-list>

  <mat-list
    *ngIf="publicRooms"
    style="color: rgb(243, 21, 21); background-color: rgb(13, 210, 213)"
  >
   
    <div *ngFor="let room of publicRooms">
      <app-room-item
        [room]="room"
        [user]="user"
        (deleteEvent)="deleteRoom($event)"
      ></app-room-item>

      <mat-divider></mat-divider>
    </div>
  </mat-list>
</div>
