<app-login
  *ngIf="gameStatus === 'LOGIN'"
  (LoginEvent)="login($event)"
></app-login>

<app-waiting
  *ngIf="gameStatus === 'WAITING'"
  (startGameEvent)="startGame()"
  (leaveRoomEvent)="leaveRoom()"
  [room]="room"
></app-waiting>

<app-gamebord
  *ngIf="gameStatus === 'PLAYING'"
  (ScoreUpEvent)="scoreUp($event)"
></app-gamebord>

<app-score *ngIf="gameStatus === 'OVER'"></app-score>

<app-stage1
  *ngIf="gameStatus === 'STAGE1'"
  (nextEvent)="nextStage()"
></app-stage1>

<app-stage2 *ngIf="gameStatus === 'STAGE2'"></app-stage2>
