<header style="width: 100% ;display: flex; justify-content: center; align-items: center; ">
  <h1
    style=" box-shadow: 10px 10px 5px black; color: aliceblue; background-color: palevioletred; text-align: center; width: 40%;">
    Brainwritting</h1>
</header>
<main>
  <div class="example-container">
    <div [style.border-color]=todo.color class="singleListHead">
      <div class="smallName">{{todo.smallName}}</div>
      <div class="bigName">{{todo.bigName}}</div>
    </div>

    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo.labels"
      [cdkDropListConnectedTo]="[doneList,InPrograss]" class="example-list" (cdkDropListDropped)="drop($event)">
      <div [style.background-color]=item.color class="example-box" *ngFor="let item of todo.labels" cdkDrag>
        {{item.value}}</div>
    </div>
  </div>
  <div class="example-container">
    <div [style.border-color]=inPrograss.color class="singleListHead">
      <div class="smallName">{{inPrograss.smallName}}</div>
      <div class="bigName">{{inPrograss.bigName}}</div>
    </div>

    <div cdkDropList #InPrograss="cdkDropList" [cdkDropListData]="inPrograss.labels"
      [cdkDropListConnectedTo]="[todoList,doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
      <div [style.background-color]=item.color class="example-box" *ngFor="let item of inPrograss.labels" cdkDrag>
        {{item.value}}</div>
    </div>
  </div>

  <div class="example-container">
    <div [style.border-color]=done.color class="singleListHead">
      <div class="smallName">{{done.smallName}}</div>
      <div class="bigName">{{done.bigName}}</div>
    </div>

    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done.labels"
      [cdkDropListConnectedTo]="[todoList,InPrograss]" class="example-list" (cdkDropListDropped)="drop($event)">
      <div [style.background-color]=item.color class="example-box" *ngFor="let item of done.labels" cdkDrag>
        {{item.value}}</div>
    </div>
  </div>
</main>
<footer style="display: flex; justify-content:space-around;width: 100%;">
  <p style="color :grey; "> i did not see the text bellow so replace this text
    <span style="font-size :large ; color: hsl(180deg 73% 43%) ;">&#9733; </span>
    <span style="font-size :large ; color: hsl(47deg 84% 58%);"> &#9733;</span>
    <span style="font-size :large ; color:hsl(357deg 79% 72%) ;">&#9733; </span>
    <span style="font-size :large ; color:hsl(205deg 74% 57%) ;">&#9733; </span>
    <span style="font-size :large ; color: hsl(205deg 74% 57%);">&#9733; </span>
  </p>
  <p style="color :grey; "> <b>Tips</b> i did not see the text bellow so replace this text

  </p>
</footer>