<div class="container">
  <mat-card>
    <mat-card-title>ajouter formateur</mat-card-title>

    <p>
      <mat-form-field appearance="outline">
        <mat-label> name</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label> email</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label> password</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label> phone</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
    </p>

    <button mat-raised-button style="margin-bottom: 20">Save</button>
  </mat-card>
</div>
